<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Exchange Rates</title>
	<link rel="icon" th:href="@{/images/favicon.ico}"></link>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" th:href="@{/css/erates.css}" />
	<script th:src="@{/js/jquery.flot/excanvas.min.js}"></script>
	<script th:src="@{/js/jquery.flot/jquery.js}"></script>
	<script th:src="@{/js/jquery.flot/jquery.flot.js}"></script>
	<script th:src="@{/js/jquery.flot/jquery.flot.time.js}"></script>
	<script th:src="@{/js/erates.js}"></script>
</head>
<body>
	<div class="container">
		<div id="banks_container">
			<ul class="banks-items">
				<li th:each="bank : ${banks}" th:text="${bank.bankName}" th:id="${bank.bankCode}" th:classappend="${bank.bankCode == bankCode}?active"></li>
			</ul>
		</div>
		<div id="charts_container">
			<div id="topPanel">
				<div class="currency-button" th:each="currency : ${currencies}" th:text="${currency.code}" th:id="${currency.id}" th:classappend="${currency.code == currencyCode}?active"></div>
			</div>
			<div id="legendContainer"></div>
			<div id="chart"></div>
		</div>
	</div>
	<input type="hidden" id="ctx" th:value="@{/}"/>
</body>
</html>